* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header>img {
    height: 30px;
    position: relative;
    top: -3px;
    left: 18px;
}

header>button {
    display: inline-block;
}

header>div {
    display: inline-block;
    margin-left: 35px;
    border: 1px solid lightgray;
}

.search-ipt {
    width: 300px;
    padding: 5px;
    border: none;
}

header>div>button {
    padding: 5px;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    color: blue;
    margin-right: 2px;
}

header>button {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-color: #3079ED;
    background-color: #4D90FE;
    font-size: 1.2rem;
    width: 70px;
    border-radius: 10px;
    margin-left: 2px;
    color: white;
}

header {
    margin: 10px;
}

.main-subs {
    display: flex;
    border-bottom: 1px solid gray;

}

.main-subs>li {
    list-style: none;
    margin: 10px;
}

body>p {
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-left: 10px;
}

main {
    margin: 10px;
}

main>p>a {
    text-decoration: none;
}


main>p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: arial,
        sans-serif;
}

.green-txt {
    color: green;
}

.main-txt {
    padding-bottom: 15px;
    max-width: 700px;
}

.footer,
.search-Res,
.pagination {
    display: flex;
    justify-content: center;
}

.search-Res>p {
    padding: 5px;
}

footer>p {
    margin: 0 auto;
    font-family: arial,
        sans-serif;
}